# 默认源代码统一行为
* text=auto eol=lf

# 源代码强制LF
*.ts     text eol=lf
*.js     text eol=lf
*.json   text eol=lf
*.md     text eol=lf
*.yml    text eol=lf
*.yaml   text eol=lf
*.sql    text eol=lf

# 二进制文件不转换
*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary
*.pdf    binary
*.zip    binary